<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haitao.demo.dao.RoleMapper">

    <select id="getRoleById" resultType="com.haitao.demo.pojo.Role">
       select * from role
       where id = #{id,jdbcType=INTEGER};
    </select>


</mapper>