<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haitao.demo.dao.UserRoleMapper">

    <select id="getRoleIdByUserId" resultType="java.lang.Integer">
       select role_id from user_role
       where user_id = #{userId,jdbcType=INTEGER};
    </select>


</mapper>